body {
  background-color: #c3b6e2;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

nav {
  display: flex;
  align-items: center;
}

nav > a {
  margin: 0 16px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: None;
  background-color: #fff;
  color: #1a1a1a;
}

.container {
  max-width: 440px;
}

.cont {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.aside {
  background-color: #dccd8a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(200px - 1rem);
  max-width: 100%;
  height: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 700;
  position: absolute;
  left: calc(1.5% - 1rem);
  padding: 1rem;
  top: calc(5% - 1rem);
}

.watch-image {
  width: 100%;
  height: 270px;
  object-position: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  padding: 16px 25px 25px 25px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  color: #888888;
}

h2 span {
  font-size: 18px;
  color: #888888;
}

p {
  color: #555555;
  line-height: 1.3;
}
